.strength-0::-webkit-progress-value {
  background-color: grey;
  width: 100%;
}
  
  .strength-1::-webkit-progress-value {
  background-color: red;
  width: 100%;
}

.strength-2::-webkit-progress-value {
  background-color: orange;
  width: 100%;
}

.strength-3::-webkit-progress-value {
  background-color: yellow;
  width: 100%;
}

.strength-4::-webkit-progress-value {
  background-color: lightgreen;
  width: 100%;
}

.strength-5::-webkit-progress-value {
  background-color: green;
  width: 100%;
}

.strength-0, .strength-1, .strength-2, .strength-3, .strength-4,
.strength-5, .strength_again-0, .strength_again-1 {
  display: block;
  margin-top: 5px;
}

.strength_again-0::-webkit-progress-value {
    background-color: grey;
    width: 100%;
  }
    
    .strength_again-1::-webkit-progress-value {
    background-color: green;
    width: 100%;
  }

.col-75 progress {
    width: 42%;
    box-sizing: border-box;
  }
  
  progress {
    height: 8px;
    appearance: none;
  }
  
  progress::-webkit-progress-bar {
    background-color: #f3f3f3;
    border-radius: 4px;
    overflow: hidden;
  }
  
  progress::-webkit-progress-value {
    border-radius: 4px;
  }
  