/* notifications.css */

/* Common styles for all notifications */
.notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    z-index: 9999;
  }
  
  /* Style for regular message */
  .notification-message {
    background-color: rgba(95, 225, 95, 0.658);
  }
  
  /* Style for warning message */
  .notification-warning {
    background-color: rgba(255, 165, 0, 0.8);
  }
  
  /* Style for error message */
  .notification-error {
    background-color: rgba(255, 0, 0, 0.8);
  }
  