/* notifications.css */

/* Common styles for all notifications */
.notification {
    position: fixed;
    font-size: 20px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    color: white;
    z-index: 9999;
  }
  
  /* Style for regular message */
  .notification-message {
    color: green;
    background-color: lightgreen;
  }
  
  /* Style for warning message */
  .notification-warning {
    color: rgb(194, 194, 15);
    background-color: lightyellow;
  }
  
  /* Style for error message */
  .notification-error {
    color: red;
    background-color: rgb(240, 210, 210);
  }
