name: Deploy to Heroku

on:
    push:
        branches:
            - main

permissions:
  contents: read
  id-token: write

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
            
            - name: Set up Node.js
              uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
              with:
                node-version: '20'

            - name: Install dependencies
              run: npm install

            - name: Run ESLint
              run: npm run lint

            - name: Build frontend
              run: npm run build

            - name: Run tests
              run: npm test
              
            - name: Install Heroku CLI
              run: |
                curl https://cli-assets.heroku.com/install.sh | sh
                echo "Heroku CLI installed"

            - name: Deploy to Heroku
              uses: akhileshns/heroku-deploy@e3eb99d45a8e2ec5dca08735e089607befa4bf28 # v3.14.15
              with:
                heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
                heroku_app_name: 'material-bank-backend'
                heroku_email: ${{ secrets.HEROKU_EMAIL }}
                usedocker: false
